
.body{
  /* // To make coloe equall to window size */
  display:flex;
  height: 100vh;
  background-color:lightblue;
  padding: 100px;
}


.app{
  /* display:flex; */
  /* justify-content: center; */
  /* align-items:center; */
  box-sizing: border-box;
  text-align: center;
  width: 550px;
  border-radius:50px;
  /* centre an object */
  margin: auto;

}

.input-container{
  padding: 20px;
  background-color:grey;
  /* border-radius: 3px 3px 0 0 ; */
  
}

.class-list{
  border-radius: 3px;
  padding:28px;
  background-color:bisque;

}

li{
  padding: 2px;
  background-color:rgb(219, 149, 124)
}

/* .close{
  background-color:rgb(207, 47, 47);
  font-size:15px;
  bottom: 2px;
  

} */

.close{
  padding: 7px;
  border-radius: 2px;
  border: none;
  background: #333;
  color: white;
  font-weight: lighter;
}

.to-do-item {
  padding: 10px 0 10px 0;
  margin: 1px 0 1px 0;
  border-top: 1px solid darken(#138796, 20%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: white;
  font-weight: lighter;
  user-select: none;
}

.add{
  background-color: rgb(84, 214, 84);
  border: none;
  color: white;
  padding: 14px 24px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

input{

  font-size: 26px;
  margin: 4px 2px;

}

.close{
  background-color:red;
  border: none;
  color: white;
  padding: 14px 24px;
  font-size: 12px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  right: 100px;
  
}

.header{
  text-align: center;
  font-style: italic;
  font-size: 30px;
}

